
/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Default light mode background */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .title-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    color: #333;
    font-size: larger !important;
    text-decoration: underline;
    text-decoration-color: #FFA500;
    text-underline-offset: 0.5rem;
  }
  
  .highlight {
    color: #FFA500; /* Orange color */
  }
  
  .content {
    display: flex;
    flex-direction: column;
  
    gap: 3rem;
  }
  
  .item {
    display: flex;
    align-items: flex-start;
    background-color: #ffedd5;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
  
  }
  
  .item-number {
    position: absolute;
    left: -1.5rem;
    background-color: #ff6900;
    color: #ffffff;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    top: -22px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
  }
  
  .item-heading {
    margin-left: 3rem;
    font-size: large;
    font-weight: 500;
  }
  
  /* Dark mode styles (optional) */
  body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
  }
  
  body.dark-mode .item {
    background-color: #444;
  }
  
  body.dark-mode .item-number {
    background-color: #555;
  }
  
  body.dark-mode .item-heading {
    color: #f0f0f0;
  }
  .dark-mode .conduct{
    color: white !important;
  }