body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.main-heading {
  margin-bottom: 40px;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tag:hover{
  background-color: #ebebeb;
  
}
.search-bar {
  margin-bottom: 20px;
}

.search-input {
  width: 50%;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 25px;
  box-shadow: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:hover,
.search-input:focus {
  border-color: #aaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  width: 250px;
  padding: 15px;
  margin-top: 30;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.profile img {
  max-width: 100%;
  border-radius: 10px;
}

.profile p {
  color: #333;
}

.grey-banner {
  background-color: #333333;
  color: white;
  padding: 10px 15px;
  border-bottom-left-radius: 10px;
  font-size: 0.8em;
  font-weight: 500;
  width: 200px;
  text-align: center;
  display: inline-block;
  margin: 20px auto;
  cursor: pointer;
}
.grey-banner:hover {
 scale: 1.06;
 transition: all 0.2s;
}
/* Dark Mode Styles */
body.dark-mode {
  background-color: #000000;
  color: #f0f0f0;
}

body.dark-mode .tag {
  background-color: #555;
  border-color: #444;
  color: #fff;
}
body.dark-mode .tag:hover{
  background-color: #3f3f3f;
}
body.dark-mode .search-input {
  background-color: #555;
  border-color: #444;
  color: #fff;
}

body.dark-mode .profile {
  background-color: #444;
  border-color: #555;
}

body.dark-mode .profile p {
  color: #f0f0f0;
}

/* Switch Label */
.toggle-switch label {
  position: relative;
  top: 0px;
  left: 7px;
  width: 55px; /* Adjust width to fit switch button and icons */
  height: 30px; /* Adjust height if needed */
  background-color: #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

/* Switch Button */
.switch-button {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

/* Icon Styles */
.sun-icon,
.moon-icon {
  user-select: none;
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s ease, color 0.5s ease;
}

/* Sun Icon */
.sun-icon {
    color: #f39c12;
    left: 1px; /* Position from the left edge */
    opacity: 1; /* Initially visible */
}

/* Moon Icon */
.moon-icon {
    color: #bdc3c7;
    right: 1px; /* Position from the right edge */
    opacity: 0; /* Initially hidden */
}

/* Hide the checkbox itself */ 
#theme-toggle {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}


/* Checkbox Checked State */
#theme-toggle:checked + label {
    background-color: #555;
}

#theme-toggle:checked + label .sun-icon {
    opacity: 0; /* Hide sun icon when checked */
}

#theme-toggle:checked + label .moon-icon {
    opacity: 1; /* Show moon icon when checked */
}

#theme-toggle:checked + label .switch-button {
    transform: translateX(30px); /* Adjust to fit switch width */
    background-color: black;
}

body.dark-mode .toggle-label {
  color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-left {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.navbar-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar-text {
  font-size: 18px;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.navbar-link:hover {
  background-color: #c5c5c5;
}

.toggle-switch {
  margin-left: 5px;
}

/* Dark mode adjustments */
body.dark-mode .navbar {
  background-color: #333;
  color: #f0f0f0;
}

body.dark-mode .navbar-link {
  color: #f0f0f0;
}

body.dark-mode .navbar-link:hover {
  background-color: #555;
}

.footer-2 {
    background-color: #dedede;
  margin-top: 80px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}

.footer-info {
  flex: 0 1 200px; 
  margin-top: 2rem;
  margin-right: 2rem; 
}

.footer-links {
  flex: 1 1 auto; 
  display: flex;
  justify-content: flex-start; 
  max-width: 500px; 
  gap: 50px;
}

.footer-description {
  flex: 1 1 300px; 
  max-width: 400px; 
}

.footer-logo {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.footer-section {
  margin-right: 3rem; 
}

.footer-heading {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-link {
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-description h5 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.footer-link:hover{
  display: inline-block;
  text-decoration: underline;
}

.footer-description h5 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.footer-button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.footer-button:hover {
  background-color: #333;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 0;
}

.footer-copyright {
  text-align: center;
  font-size: 0.875rem;
}

/* Dark mode styles */
body.dark-mode .footer-2 {
  background: #333;
}

 body.dark-mode .footer-link{
  color: #fff;
 }

body.dark-mode .footer-info img{
  filter: brightness(0) invert(1) ;
} 

body.dark-mode .footer-button {
  background-color: #fff;
  color: #000;
}

body.dark-mode .footer-button:hover {
  background-color: #e0e0e0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
.footer-content {
  flex-direction: column;
}
.footer-links{
  gap: 0px !important;
}
.footer-info{
  width: 250px;
  margin-bottom: 2rem;
}
.footer-links, .footer-description {
  width: 100%;
  margin-bottom: 2rem;
}

.footer-links {
  flex-direction: column;
  margin-bottom: 10px !important;
}


.footer-section {
  margin-right: 0;
  /* margin-bottom: 1rem; */
}
.footer-heading{margin-top: 25px !important;}
.footer-info{
  flex: 0 1;
  margin-bottom: 10px;
}.footer-description{
  flex: 1 1;
  margin-bottom: 0px !important;
}

}

.img-container {
height: 250px; /* Set the height of the container */
width: 100%; /* Adjust width if necessary */
overflow: hidden;
position: relative;
scrollbar-width: none;
-ms-overflow-style: none;
}

.img-container::-webkit-scrollbar {
width: 0;
height: 0;
}

.scroll-on-hover {
height: 250px;
width: 100%;
overflow: hidden;
position: relative;
}

.scroll-on-hover img {
transition: transform 1.5s ease-in-out;
}

.side-icons {
position: fixed;
right: 20px;
top: 30%;
display: flex;
flex-direction: column;
gap: 15px;
}

.icon-content {
position: relative;
}

.icon-content a {
display: flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
border-radius: 50%;
color: #4d4d4d; /* Default icon color */
background-color: #fff;
transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
overflow: hidden;
text-decoration: none;
position: relative;
}

.icon-content a i {
font-size: 24px;
position: relative;
z-index: 2; /* Icons should be above the background fill */
}

.icon-content a .filled {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
transition: transform 0.3s ease-in-out;
transform: scaleY(0); /* Hide the fill initially */
transform-origin: bottom; /* Start the fill from the bottom */
z-index: 1; /* Background fill should be below the icons */
}

.icon-content a:hover .filled {
transform: scaleY(1); /* Scale the fill to full height on hover */
}

.icon-content a:hover i {
color: #fff; /* Change icon color to white on hover */
}

.icon-content a[data-social="facebook"] .filled {
background-color: #3b5998;
}

.icon-content a[data-social="linkedin"] .filled {
background-color: #0077b5;
}

.icon-content a[data-social="twitter"] .filled {
background-color: #1da1f2;
}

.icon-content a[data-social="youtube"] .filled {
background-color: #ff0000;
}

.icon-content a[data-social="github"] .filled {
background-color: #24292e;
}

/* Optional: add box-shadow on hover */
.icon-content a:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dark mode styles */
body.dark-mode .side-icons .icon-content a {
background-color: #333; /* Dark background for icons in dark mode */
color: #ddd; /* Light icon color in dark mode */
}

body.dark-mode .side-icons .icon-content a:hover .filled {
background-color: #444; /* Slightly lighter dark mode background fill */
}

body.dark-mode .side-icons .icon-content a:hover i {
color: #fff; /* White icon color on hover in dark mode */
}

/* Dark mode background colors for different icons */
body.dark-mode .side-icons .icon-content a[data-social="facebook"] .filled {
background-color: #3b5998; /* Darker shade for Facebook in dark mode */
}

body.dark-mode .side-icons .icon-content a[data-social="linkedin"] .filled {
background-color: #0077b5; /* Darker shade for LinkedIn in dark mode */
}

body.dark-mode .side-icons .icon-content a[data-social="twitter"] .filled {
background-color: #1da1f2; /* Darker shade for Twitter in dark mode */
}

body.dark-mode .side-icons .icon-content a[data-social="youtube"] .filled {
background-color: #ff0000; /* Darker shade for YouTube in dark mode */
}

body.dark-mode .side-icons .icon-content a[data-social="github"] .filled {
background-color: #444c56; /* Darker shade for GitHub in dark mode */
}

/* Optional: add box-shadow on hover in dark mode */
body.dark-mode .side-icons .icon-content a:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Slightly stronger shadow in dark mode */
}



/* Base styles */
body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
color: #333;
margin: 0;
padding: 0;
line-height: 1.6;
}

.wrapper {
max-width: 1200px;
margin: auto;
padding: 20px;
background: #fff;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
text-align: center;
font-size: 3em;
font-weight: bold;
color: #f67621;
margin-bottom: 20px;
text-decoration: underline;
text-underline-offset: 8px;
}

/* Chrono component styles */
.chrono {
margin: 0 auto;
width: 100%;
}

.event-container {
display: flex;
flex-direction: column;
align-items: center;
}

.event {
background-color: #f67621;
color: white;
border-radius: 8px;
margin: 20px 0;
padding: 20px;
max-width: 600px;
text-align: center;
}

.event img {
width: 100%;
max-width: 600px;
height: auto;
border-radius: 8px;
}

.event figcaption {
font-size: 2em;
font-weight: bold;
margin-top: 10px;
}

.event p {
font-size: 1em;
margin: 10px 0;
}

.event .link {
color: #fff;
font-size: 1.2em;
font-weight: bold;
text-decoration: none;
border-bottom: 2px solid #fff;
}

.event .link:hover {
text-decoration: underline;
}

/* Dark mode styles */
body.theme-dark {
background-color: #121212;
color: #e0e0e0;
}

body.theme-dark .wrapper {
background: #1e1e1e;
}

body.theme-dark .title {
color: #f67621;
}

body.theme-dark .event {
background-color: #474747;
}

body.theme-dark .event .link {
color: #f67621;
border-bottom: 2px solid #f67621;
}

body.theme-dark .container{
background-color: black !important;
}
body.theme-dark .center {
background-color: black !important;
}
/* Light Mode Styles */
.darkmodeimg {
display: none;
}

/* Dark Mode Styles */
.dark-mode .darkmodeimg {
display: block !important;
}
.lightmodeimg{
display: block;
}
.dark-mode .lightmodeimg {
display: none !important;
}
.dark-mode .container h1,.dark-mode .container h2{
color: white !important;
}
.table-container {
  width: 100% !important; /* Set width to 90% of the viewport width */
  overflow-x: auto; /* Enable horizontal scrolling */
  margin: 0 auto; /* Center the container */
}

.header, .row {
  display: flex;

  flex-wrap: wrap; /* Prevent wrapping */
}

.cell {
  flex: auto; /* Allow cells to expand and fill the row */
  padding: 8px;
  border: 1px solid #ddd; /* Add border */
  text-align: left; /* Align text to the left */
  /* min-width: 100px; */
}

.header {
  background-color: #f2f2f2; /* Light gray background for header */
  font-weight: bold;
}

.inner-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inner-table .header, .inner-table .rows {
  display: flex;
  flex-wrap: wrap; /* Prevent wrapping */
}

.inner-table .header .cell {
  flex: auto !important;
  background-color: #f2f2f2; /* Light gray background for inner table header */
}

.inner-table .rows {
  overflow-x: auto; /* Allow horizontal scrolling */
}

.inner-table .row {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.inner-table .row .cell {
  flex: 1;
  border: 1px solid #ddd; /* Add border */
}
.dark-mode .header,.dark-mode .cell{
background-color: black !important;
}
body.dark-mode .side-icons  a{
color: white !important;
}

@media (max-width: 768px) {
.side-icons {
  width: 50px;
  height: auto;
  padding: 10px 0;
  gap: 15px;
}

.icons {
  width: 30px;
  height: 30px;
}

.side-icons a {
  font-size: 18px;
}
}

@media (max-width: 425px){
.side-icons {
  width: 42px;
  height: auto;
  padding: 10px 0;
  gap: 10px;
}

.icons {
  width: 25px;
  height: 25px;
}

.side-icons a {
  font-size: 16px;
}
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

}

#scrollToTop:hover{
  background-color: #3e3e3e;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}

#scrollToTop .arrow-icon {
  fill: white;
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

#scrollToTop:hover {
  transform: translateY(-5px); /* Move button up on hover */
}

#scrollToTop:hover .arrow-icon {
  transform: translateY(-2px); /* Move arrow up on hover */
}

body.dark-mode #scrollToTop {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode #scrollToTop:hover {
  background-color: #b6b6b6ff;
}

body.dark-mode #scrollToTop .arrow-icon {
  fill: black;
}

html {
  scroll-behavior: smooth;
}

