* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: orange;
  /* opacity: 0.9; */
  min-height: 100vh;
  border: 5px solid #1d1e4c;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}
.top_section {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top_section h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
  text-transform: uppercase;
}
.top_section h4 {
  font-size: 40px;
  text-align: end;
}

.image_container {
  border-radius: 40%;
  overflow: hidden;
}

.image_container,
img {
  width: 460px;
  height: 400px;
}
.about_section {
  margin-top: 50px;
}
.about_section h2 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}
.biography_section {
  margin: 50p;
  font-size: large;
  font-family: "Calibri", Calibri, serif;
}
.biography_section h3 {
  margin-bottom: 20px;
}
.biography_section ul {
  margin-left: 55px;
}
.biography_section li {
  margin-bottom: 15px;
}
a {
  color: rgb(13, 37, 212);
}

footer {
  margin: 50px 0;
  margin-right: 20px;
}
footer p {
  text-align: center;
}
