*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
body {
    
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 41vh !important;
}

#result-container{
    margin-top: 20px;
    height: 400px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    color: #333;
}
label{
    font-size: 20px;
}
.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.comparison {
    margin-top: 20px;
}

.comparison h2 {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
.dark-mode tr:nth-child(even) {
    background-color: #1a1717;
}
.hidden {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .button {
        font-size: 14px;
    }
    
    #result-container{
        height: 300px;
    }
}
select{
    background: transparent;
  outline: none;
  border: none;
  border: solid 1px gray;
  padding: 10px;
  font-size: 20px;
}
.dark-mode select{
    color: white;
    background-color: black;
}
#avatarImg1{
    --s: 10px;
    padding: var(--s);
    border: calc(2*var(--s)) solid #ffffff00;
    outline: 1px solid #ffffff;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #ffffff00 25%, #ffffff 0);
    /* border-radius: 50%; */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none; 
    width: 200px;
    height: 200px;
}

#avatarImg2{
    --s: 10px;
    padding: var(--s);
    border: calc(2*var(--s)) solid #ffffff00;
    outline: 1px solid #ffffff;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #ffffff00 25%, #ffffff 0);
    /* border-radius: 50%; */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none; 
    width: 200px;
    height: 200px;
}

/* CSS for spinner */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #08b461;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .hidden {
    display: none;
  }
  
  /* #progressBarContainer { */


#progressBarContainer {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #333;
    z-index: 9999;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: white;
    transition: width 0.2s ease;

}

