.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #333;
  top: 80px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  width: calc(50% - 40px);
  box-sizing: border-box;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #3b9cdd;
  border: 4px solid #3b9cdd;
  border-radius: 50%;
  z-index: 2;
  top: 20px;
}

.timeline-item:nth-child(odd) {
  left: 0;
  width: calc(50%);
}

.timeline-item:nth-child(even) {
  left: 50%;
  width: calc(50%);
}

.timeline-item:nth-child(odd)::after {
  right: -17px;
}

.timeline-item:nth-child(even)::after {
  left: -17px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-item:nth-child(odd) .timeline-content::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -15px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -15px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
}

.event-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.event-date {
  font-style: italic;
  color: #888;
  margin-bottom: 10px;
}

.event-description {
  margin-bottom: 15px;
}

.event-link {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.event-link:hover {
  background-color: #555;
}

/* Dark mode styles */
body.dark-mode .timeline::after {
  background-color: #f0f0f0;
}

body.dark-mode .timeline-item::after {
  background-color: #ccc;
  border: 4px solid #999;
}

body.dark-mode .timeline-content {
  background-color: #444;
  color: #f0f0f0;
}

body.dark-mode .timeline-item:nth-child(odd) .timeline-content::after {
  border-left-color: #444;
}

body.dark-mode .timeline-item:nth-child(even) .timeline-content::after {
  border-right-color: #444;
}

body.dark-mode .event-title {
  color: #f0f0f0;
}

body.dark-mode .event-date {
  color: #ccc;
}

body.dark-mode .event-link {
  background-color: #f0f0f0;
  color: #333;
}

body.dark-mode .event-link:hover {
  background-color: #ccc;
}

body.dark-mode .navbar-text {
  color: #fff;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .container{
        padding: 5px;
    }

  .timeline {
    max-width: 100vw;
    padding: 20px 0;
  }

  .timeline-item {
    padding: 10px 0px;
  }

  .timeline-content{
    width: 100%;
    padding: 10px;
  }

  .banner{
    width: 100%;
  }

  .banner iframe{
    height: 215px;
  }

  .timeline::after {
    left: 31px;
  }

  .line {
    left: 28px !important;
  }

  .line1 {
    right: 93.5% !important;
  }

  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-item::after {
    left: 15px;
  }

  .timeline-item:nth-child(odd) {
    width: 100%;
  }

  .timeline-item:nth-child(even) {
    left: 0;
    width: 100%;
  }

  .timeline-item:nth-child(odd)::after,
  .timeline-item:nth-child(even)::after {
    left: 15px;
  }

  .timeline-item:nth-child(odd) .timeline-content::after,
  .timeline-item:nth-child(even) .timeline-content::after {
    left: -15px;
    border-right: 15px solid #fff;
    border-left: none;
  }

  body.dark-mode .timeline-item:nth-child(odd) .timeline-content::after,
  body.dark-mode .timeline-item:nth-child(even) .timeline-content::after {
    border-right-color: #444;
  }
}


@media screen and (min-width:768px) and (max-width: 1024px) {
  .timeline {
    max-width: 100vw;
    padding: 20px 0;
  }

  .timeline-item {
    padding: 10px 0px;
  }

  .timeline-content{
    width: 80%;
    padding: 20px;
  }

  .banner{
    width: 100%;
  }

  .banner iframe{
    height: 215px;
  }
}

.line {
  position: absolute;
  background-color: #3b9cdd;
  width: 6px;
  top: 40px;
  z-index: 1;
}

.line--left {
  left: 99.5%;
}

.line--right {
  right: 99.5%;
}

.scroll-animate {
  transition: all 1.5s ease-out;
  background-color: #3b9cdd !important;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

#scrollToTop:hover {
  background-color: #3e3e3e;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}

#scrollToTop .arrow-icon {
  fill: white;
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

#scrollToTop:hover {
  transform: translateY(-5px);
  /* Move button up on hover */
}

#scrollToTop:hover .arrow-icon {
  transform: translateY(-2px);
  /* Move arrow up on hover */
}

body.dark-mode #scrollToTop {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode #scrollToTop:hover {
  background-color: #b6b6b6ff;
}

body.dark-mode #scrollToTop .arrow-icon {
  fill: black;
}

#progressBarContainer {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #333;
  z-index: 9999;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: white;
  transition: width 0.2s ease;
}