*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #f67621;
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

/* Chrono component styles */
.chrono {
  margin: 0 auto;
  width: 100%;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  background-color: #f67621;
  color: white;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
  max-width: 600px;
  text-align: center;
}

.event img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
}

.event figcaption {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.event p {
  font-size: 1em;
  margin: 10px 0;
}

.event .link {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.event .link:hover {
  text-decoration: underline;
}

/* Dark mode styles */
body.theme-dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.theme-dark .wrapper {
  background: #1e1e1e;
}

body.theme-dark .title {
  color: #f67621;
}

body.theme-dark .event {
  background-color: #474747;
}

body.theme-dark .event .link {
  color: #f67621;
  border-bottom: 2px solid #f67621;
}

body.theme-dark .container{
  background-color: #171717 !important;
}
body.theme-dark .center {
  background-color: #171717 !important;
}
body.dark-mode .themed-text {
  color: white;
}

body:not(.dark-mode) .themed-text {
  color: black;
}
body.dark-mode .themed-text {
  color: white;
}
/* Light Mode Styles */
.darkmodeimg {
  display: none;
}

/* Dark Mode Styles */
.dark-mode .darkmodeimg {
  display: block !important;
}
.lightmodeimg{
  display: block;
}
.dark-mode .lightmodeimg {
  display: none !important;
}
.dark-mode .container h1,.dark-mode .container h2{
  color: white !important;
}
.table-container {
    width: 100% !important; /* Set width to 90% of the viewport width */
    overflow-x: auto; /* Enable horizontal scrolling */
    margin: 0 auto; /* Center the container */
}

.header, .row {
    display: flex;

    flex-wrap: wrap; /* Prevent wrapping */
}

.cell {
    flex: auto; /* Allow cells to expand and fill the row */
    padding: 8px;
    border: 1px solid #ddd; /* Add border */
    text-align: left; /* Align text to the left */
    /* min-width: 100px; */
}

.header {
    background-color: #f2f2f2; /* Light gray background for header */
    font-weight: bold;
}

.inner-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inner-table .header, .inner-table .rows {
    display: flex;
    flex-wrap: wrap; /* Prevent wrapping */
}

.inner-table .header .cell {
    flex: auto !important;
    background-color: #f2f2f2; }

.inner-table .rows {
    overflow-x: auto; 
}

.inner-table .row {
    display: flex;
    flex-wrap: nowrap; 
}

.inner-table .row .cell {
    flex: 1;
    border: 1px solid #ddd; 
}
.dark-mode .header,.dark-mode .cell{
  background-color:#171717 !important;
}

.certificate{
  width: 100%;
  justify-content: center;
   display: flex;
   flex-wrap: wrap;
}
.certificate-left{
   width: 40%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.ways{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 
}
.ways-content{
   padding: 60px;
   padding-top: 30px;
}
.ways-content h1{
   font-size: 50px !important;
}
.ways-content p{
   font-size: 20px !important;
}

.ways1 img, .ways2 img {
  width: 100%;
    height: 100%;
    object-fit: contain;
}

.ways1{
   width: 80%;
   display: flex;
   /* flex-wrap: wrap; */
   margin-top: 20px;
   margin-bottom: 20px !important;
   overflow: hidden;
   border-radius: 15px;
}
.ways2{
   width: 80%;
   display: flex;
   flex-direction: row-reverse;
   margin-top: 30px;
   /* flex-wrap: wrap; */
   margin-bottom: 30px !important;
   overflow: hidden;
   border-radius: 15px;
}
@media only screen and (max-width:1300px){
   .certificate-left{
       width: 80%;
   }.certificate-right{
       width: 100%;
       height: auto;
   }
   .ways1,.ways2{
       justify-content: center;
       flex-direction: column;
   }
   .ways1,.ways2{
       padding: 0px !important;
       text-align: center;
   }
}
@media only screen and (max-width:500px) {
   .ways img{
       scale: 0.60 !important;}
}
.ways a:hover{
   text-decoration: underline;
}
.ways a{
   font-size: 30px;
   text-decoration: none;
   color: black ;
   font-weight: 600;
}
.certificate-left h1{
   font-size: 30px;
   text-align: start;
}
.certificate-left p{
   font-size: 20px;    text-align: start;

}
.certificate-right{
   width: 40%;
   height: 400px;
}

@media (max-width: 768px) {
  .social-media-links {
    justify-content: center;
  }
}

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
    /* background: #fff; */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-x: auto; /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
        }

        h1,
        h2 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table,
        th,
        td {
            border: 1px solid #ddd;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 15px;
        }

        .center {
            text-align: center;
        }
        #scrollToTop {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: black;
            color: white;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s;
            opacity: 0;
            visibility: hidden;
        }

        #scrollToTop:hover {
            background-color: rgb(62, 62, 62);
        }

        #scrollToTop.show {
            opacity: 1;
            visibility: visible;
        }

        #scrollToTop .arrow-icon {
            fill: white;
            width: 24px;
            height: 24px;
            transition: transform 0.3s;
        }

        #scrollToTop:hover {
            transform: translateY(-5px);
            /* Move button up on hover */
        }

        #scrollToTop:hover .arrow-icon {
            transform: translateY(-2px);
            /* Move arrow up on hover */
        }

        body.dark-mode #scrollToTop {
            background-color: white;
            color: black;
        }

        body.dark-mode #scrollToTop:hover {
            background-color: rgba(182, 182, 182, 0.999);
        }

        body.dark-mode #scrollToTop .arrow-icon {
            fill: black;
        }

        html {
            scroll-behavior: smooth;
        }
        .navbar-links {
            margin-left: 20px;
            text-decoration: none;
            color: #fff;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            transition: transform 0.6s ease;
        }

        .hamburger div {
            width: 25px;
            height: 2px;
            background-color: #000000;
            margin: 4px;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .hamburger.active div:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
        }

        .hamburger.active div:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active div:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
        }

        .mobile-menu {
            display: none;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            width: 100%;
            position: absolute;
            top: 52px;
            left: 0;
            opacity: 0;
            z-index: 999;
            transform: translateY(-20px);
            transition: transform 0.5s ease, opacity 0.3s ease;
        }


        .mobile-menu a {
            padding: 10px;
            width: 100%;
            text-align: center;
            /* border-bottom: 1px solid #444; */
            color: #000000;
            text-decoration: none;
        }

        .mobile-menu.show {
            display: flex;
            opacity: 1;
            transform: translateY(0);
        }

        .mobile-menu a:hover {
            text-decoration: underline;
        }


        body.dark-mode .hamburger div {
            background-color: white;
        }

        body.dark-mode .mobile-menu a {
            color: white;
        }

        body:not(.dark-mode) .badges-icons-light {
            display: none !important;
        }

        body.dark-mode .badges-icons-dark {
            /* color: white; */
            display: none !important;
        }

        body:not(.dark-mode) .badges-icons-dark {
            display: inline !important;
        }

        body.dark-mode .mobile-menu {
            background-color: #333;
            color: #f0f0f0;
        }


        @media screen and (max-width: 768px) {
            .navbar-right {
                display: none !important;
            }

            .hamburger {
                display: flex;
            }

            .side-icons {
                flex-direction: column;
                margin-top: 35px;
            }

            .ways-content {
                padding: 0 !important;
            }
        }
        #progressBarContainer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 7px;
            background-color: #333; 
            z-index: 9999; 
        }

        #progressBar {
            height: 100%;
            width: 0%; 
            background: white;
            transition: width 0.2s ease; 
        }
        .footer-logo {
        width: auto;
        height: 73px;
        cursor: pointer;
        padding-left: 20px;
        padding-top: 40px;
        object-fit: scale-down; /* Ensure the aspect ratio is maintained */
        }