@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-help {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
}

.content-block {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 450px;
}

body.dark-mode .content-block{
  background-color: #333;

}

.main-heading {
  font-size: 48px;
  font-weight: 500;
  color: #121212;
  margin-bottom: 20px;
  width: 450px;
  word-wrap: break-word;
}

body.dark-mode .main-heading{
  color: #fff;
}

.description {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #666;
}

body.dark-mode .description{
  color: #c0c0c0;
}

.steps-indicator {
  position: relative;
  height: 300px;
}

.step-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #0066cc;
}

body.dark-mode .step-line{
  background-color: #c0c0c0;
}

.step-dot {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #0066cc;
  border-radius: 50%;
  transform: translateX(-40%);
}

body.dark-mode .step-dot{
  background-color: #c0c0c0;
}

.step-dot::after {
  content: attr(data-step);
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #0066cc;
  font-weight: bold;
}

.step-dot:nth-child(2) { top: 0; }
.step-dot:nth-child(3) { top: 50%; }
.step-dot:nth-child(4) { bottom: 0; }

.step-box {
  position: absolute;
  background-color: #fff;
  box-shadow: 7px 7px 20px 0 rgba(18, 18, 18, 0.2);
  padding: 16px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 700;
  color: #0066cc;
  white-space: nowrap;
}

body.dark-mode .step-box{
  background-color: #555;
  color: #fff;
}

  .steps-clone {
    position: relative;
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
  }
  
  .steps-clone:tiny {
    position: static;
    display: block;
  }.steps-clone {
    position: relative;
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .content-wrap{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

   

  }
  .text-block{
    padding: 50px;
  }
  .step-content-block{
    width: 70%;
    padding: 50px !important; 
  }
  .steps-clone:tiny {
    position: static;
    display: block;
  }.dot {
    z-index: 3;
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-bottom: -6px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .dot:small {
    position: absolute;
    bottom: 50%;
    z-index: 99;
    margin-bottom: 0px;
    align-self: center;
    order: 2;
  }
  
  .step-block {
    position: relative;
    display: flex;
    width: 100vw !important;
    min-height: 80vh;
    margin-top: -1px;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
  }
  
  @media only screen and (max-width:700px){
    .step-block{
        flex-direction: column;
    }
    .dot{
        bottom: 10px;
    }
    .step-block .content-wrap{
      z-index: 100;
    }
    .step-block .img-block{
      z-index: 100;
    }
  }
  .step-block:small {
    min-height: 110vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .scoll-wrap {
    position: absolute;
    bottom: 50%;
    background-color: #eeeff4;
    width: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .scoll-wrap:small {
    bottom: 50%;
    z-index: 1;
    height: 100%;
  }
  .img-block {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-block img{
    width: 350px;
  }

  .img-block .first{
    width: 450px;
  }

  .content .heading{
    font-size: 20px;
  }

  .scroll-animate {
    position: absolute;
    top: 0px;
    width: 6px;
    transition: all 1.5s ease-out;
   z-index: 0;
      background-color: #3b9cdd !important;
  }

  body.dark-mode .text-block{
    background-color: #333;
  }

  body.dark-mode .text-block .content{
    color: #f0f0f0 !important;
  }

  body.dark-mode .text-block .content a{
    color: #3b9cdd;
  }

  body.dark-mode .scroll-wrap{
    border: none !important;
    background-color: #fff !important;
  }

  body.dark-mode .scroll-animate{
    border: none !important;
    background-color: #c0c0c0 !important;
  }

  body.dark-mode .dot{
    background-color: #c0c0c0 !important;
  }
