/* Profile Modal Styling */
#profileModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.7); /* Dark transparent overlay */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .modal-content h2 {
    margin-top: 0px;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
  }
  
  .modal-content p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .add-profile-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .add-profile-button:hover {
    background-color: #333;
  }
  
  .close-button {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  #profileModal a {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  /* Navbar Icon Styling */
  .navbar-icon {
    width: 40px;
    height: 40px;
  }
  
  .navbar-text {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
  }
  