/* Fixed navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
}


.footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .social-media-icons a {
        margin: 0 15px;
        text-decoration: none;
        color: #000;
        position: relative;
        transition: transform 0.3s, background-color 0.3s;
    }

    .social-media-icons a i {
        font-size: 24px;
    }

    .social-media-icons a .filled {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        transition: background-color 0.3s;
        border-radius: 50%;
    }

    .social-media-icons a:hover {
        transform: rotate(20deg);
    }

    .social-media-icons a:hover .filled {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .footer-links {
        text-align: left;
        margin-top: 20px;
    }

    .footer-section {
        margin-bottom: 50px;
    }
    .footer-2 {
  background-color: #dedede;
  padding: 40px 0;
}

.footer-container {
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-info {
  flex: 0 1 200px;
  margin-bottom: 20px;
}

.social-media-icons a .filled {
  z-index: -1;
}

.footer-youtube-icon:hover {
  color: #ff0000;
}

.footer-linkedin-icon:hover {
  color: #0077b5;
}

.footer-twitter-icon:hover {
  color: #1da1f2;
}

.footer-facebook-icon:hover {
  color: #3b5998;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}

.footer-description {
  flex: 1 1 300px;
  max-width: 500px;
  margin-right: 30px;
}

.footer-logo {
  width: auto;
  height: 73px;
  
  cursor: pointer;
  padding-left: 20px;
  padding-top: 40px;
}

.footer-section {
  margin-right: 20px;
  color: white;
  padding: 50px;
  text-align: center;
}

.footer-heading {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.footer-heading:hover {
  color: #000;
  transform: scale(1.05);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
 
}

.footer-link {
  display: block; 
  color: #000; 
  font-size: 0.9rem;
  text-decoration: none;
  margin: 0 0.5rem; 
  padding: 5px 10px;
  border-radius: 5px; 
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

/* Hover Effect */
.footer-link:hover,
.footer-link:focus {
  color: #fff;
  background-color: #0077b5;
  transform: scale(1.05); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.footer-description h5 {
  font-size: 1.1rem;
  word-spacing: 0.5px;
  font-weight: normal;
  margin-bottom: 1rem;
}

.footer-button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.40rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.footer-button:hover {
  background-color: #1371af;
}

.footer-bottom {
  border-top: 1px solid #75727298;
  padding: 10px 0;
  text-align: center;
}


.footer-bottom p {
  margin: 0;
  padding: 10px 0;
  max-width: 100%;
  font-weight: 400;
}

.footer-bottom a.no-underline {
  text-decoration: none;
  word-break: break-word;
  color: #1992d3;
}

.footer-bottom a.no-underline:hover {
  text-decoration: none;
  color: #026499;
}


/* Dark mode styles */
body.dark-mode .footer-2 {
  background: #333;
}

body.dark-mode .footer-link {
  color: #fff;
}

body.dark-mode .footer-copyright {
  color: #fff;
}

body.dark-mode .footer-info img {
  filter: brightness(0) invert(1);
}

body.dark-mode .footer-link:hover {
  color: #00d8ff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

body.dark-mode .footer-heading {
  color: #fff;
}


body.dark-mode .footer-button {
  background-color: #fff;
  color: #000;
  font-weight: 600;
}

body.dark-mode .footer-button:hover {
  background-color: #212020;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    gap: 20px;
    justify-content: center;
  }

  .footer-info,
  .footer-description {
    margin-bottom: 20px;
  }

  .footer-description {
    max-width: 600;
    text-align: center;
    margin: 0 auto;
  }
}