# Ignore directories
07-Omnifood-Desktop/
befit-main/
CODSOFT4-main/
dbms-advanced/
Html and css/
JOB-BOARD---CODSOFT-main/
Control Panel/
Eclipse IDE for Java Developers - 2023-12/
Spotify/
Zoom/

# Ignore node_modules if needed
node_modules/
